.box-layout__button {
    border: none;
    background-color: #2196F3;
    padding: $s-size;
    display: inline-block;
    color: white;
    font-size: $font-large;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}